{% extends "layout.html.twig" %}

{% block title %}Vos cours de boxe à Mérignac{% endblock %}

{% block content %}
		<section id="pres">
			
			<div class="container">
				
				<div style="visibility: hidden;" class="row ligne2 wow">					

					<div class="col-sm-6">
						<img src="../images/web_shutterstock_16878019-BOXE.jpg" alt="Boxeur" class="img-responsive img-full-width">
					</div>

					<div class="col-sm-6">

						<h2>Boxe</h2>

							<p>Ex æquo revisite la boxe à travers des cours uniques, pensés et
								développés en fonction des objectifs de chacun. Les cours sont donnés 
								par un champion du monde de boxe, qui suit et encourage les évolutions 
								de manière individuelle.
							</p>
							<p>Les cours sont ouverts à tous, quels que soient le niveau de 
								pratique et la condition physique. Un cours de boxe est dédié aux femmes
								afin qu’elles puissent s’initier ou continuer de pratiquer un sport qui
								n’est pas exclusivement réservé aux hommes.
							</p>
							
					</div>

				</div>
				
				<h1 class="text-center" style="font-size: 3em;font-size:32px;margin-top:80px;">Prestations</h1>
				
				<div class="panel panel-default cours" style="background-color:#036cad;">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">HIT' Boxing (High Intensity Training) :</p>
								<p class="desc-cours">Cours de fractionné alternant phases de travail à haute intensité et phases de repos, reprenant la gestuelle de la boxe.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">Lady Boxing :</p>
								<p class="desc-cours">Cours exclusivement réservés au public féminin, pensés et développés dans le but de permettre à chacune de se former et se perfectionner dans la pratique de la boxe.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Circuit Training Boxe :</p>
								<p class="desc-cours">Circuit training alternant des phases de travail et des phases de renforcement musculaire, s'inspirant exclusivement de l'univers de la boxe.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">Fit'Boxing :</p>
								<p class="desc-cours">Cours à la frontière entre les sports de combat et le fitness, sans opposition, où l'on simule des techniques de boxe en musique.</p>
							</div>
						</div> 
						<div class="row">
							<div class="col-md-6">
								<p class="nom-cours">Savate Boxe Française :</p>
								<p class="desc-cours">Sport de combat utilisant des mouvements de percussions appelés "coups", qui permettent de frapper avec les différentes surfaces des pieds et le devant des poings, suivant des règles techniques précises.</p>
							</div>
							<div class="col-md-6">
								<p class="nom-cours">No Contact :</p>
								<p class="desc-cours">Cours de boxe reprenant les techniques sur sac de frappes et palettes exlusivement, toute recherche de coups portés et d'opposition est proscrite.</p>
							</div>
						</div> 
					 </div>
				</div>
				
				<div class="text-center" style="margin-top:70px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style=" background-color: #036cad; border-color: #036cad; "><strong>Télécharger le planning des cours</strong></a>
				</div>

			</div>

		</section>

<?php
if ( !strpos(strtolower($_SERVER['HTTP_USER_AGENT']), 'googlebot') )
{
echo <<<EOL?>
<div id="map" class="wow">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0110411397272!2d-0.6777082999999978!3d44.84170850000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54da027c4fed81%3A0xf0fd85dc9bae57f8!2s19+Rue+Nicolas+Leblanc%2C+33700+M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1442322802792" width="800" height="400" style="border:0; width:100%" allowfullscreen></iframe>
</div>
<?php
EOL;
}
?>

<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Animate -->
		<script src="../js/wow.min.js"></script>
        <script>
        	new WOW().init();
        </script>
{% endblock %}
