{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

	{% block content %}

<!DOCTYPE html>
<html lang="FR-fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content= "salle, sport, mérignac, salle de sport, bordeaux, fitness, musculation, prépartion physique, remise en forme, boxe, pilates, yoga">
		<meta name="description" content="Les tarifs de votre salle de sport Exaequo à Mérignac." />
		<title>Exaequo - Les tarifs de votre salle de sport</title>
		
		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- animate -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- fontAwesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="css/styles.css" >
		
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

		<link rel="icon" type="image/png" href="favicon.png" />

		<meta property="og:image" content="http://exaequo-merignac.com/images/logo-fb.jpg" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43667519-40', 'auto');
		  ga('send', 'pageview');

		</script>

	</head>
	<body>
		<header>
		  <!-- menu de navigation -->
		  <nav class="navbar navbar-inverse navbar-static-top navbar-custom">
			<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://www.exaequo-merignac.com"/><img src="images/logo_menu.jpg" alt="Votre salle de sport à Mérignac">
				</a>
			  </div>
			  <div id="navbar3" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="index.php">Accueil</a></li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nos prestations<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
					  <li><a href="cours_collectifs.php">Cours collectifs</a></li>
					  <li><a href="fitness_cardio_physique.php">Fitness/cardio/musculation</a></li>
					  <li><a href="cours_boxe.php">Boxe</a></li>
					  <li><a href="cours_pilates.php">Pilates</a></li>
					  <li><a href="cours_yoga.php">Yoga</a></li>
					</ul>
				  </li>
				  <li><a href="equipe.php">Notre équipe</a></li>
				  <li class="active"><a href="tarifs.php">Nos tarifs</a></li>
				  <li><a href="partenaires.php">Nos Partenaires</a></li>
				  <li><a href="contact.php">Contact</a></li>
				</ul>
			  </div>
			</div>
			</nav>
		</header>

		<section id="tarif">
			
			<div style="visibility: hidden; animation-name: none;" class="container wow bounceInRight">
			
				<h1 class="text-center">Formules &laquo;Abonnement 12 mois&raquo;</h1>

				<div class="row" >
					
					<div class="col-md-3 col-sm-6 zoom">
						<!--<img src="images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div class="bloc-tarif" style="margin-bottom:0px">
							<h2 class="header background-orange">Club</h2>
							<img class="center-block" src="images/img_prix_club_orange.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Musculation</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Cours-co / <img src="images/lesmills.jpg"/></span>
							  </li>
							  <li style="font-size:13px">
							    <span>Hit Boxing & No Contact</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Suivi Personnalisé</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Service Serviette</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Report Abo. 1 mois</span>
							  </li>
							</ul>
							
							<div class="prix background-orange">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">34<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
						<div>
							<ul class="fa-ul tarif-description" style="text-align:left;font-size:12px;color:white">
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Pack heures creuses 24€90 par mois</span>
							  </li>
							  <li style="font-size:11px;">
							    <span>9h30 - 11h30 / 14h30 - 17h00</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-orange"></i>
							    <span>Pack etudiants -10€ par mois</span>
							  </li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 zoom">
						<!--<img src="images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-blue">Master</h2>
							<img class="center-block" src="images/master.png"/>
							<h3 style="text-align: center;">Pack Club</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Cross-Training</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Boxe</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-blue"></i>
							    <span>Open Vendredis</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:60px">
							    <span>Vendredis gratuits pour 1 ami</span>
							  </li>
							</ul>
							<div class="prix background-blue">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">39<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 zoom">
						<!--<img src="images/web_Fotolia_80960258_XXL_prix.jpg" alt="À la séance" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-green">Elite</h2>
							<img class="center-block" src="images/elite.png"/>
							<h3 style="text-align: center;">Pack Master</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-green"></i>
							    <span>Pilates</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Accès en illimité au cours</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Cours de Pilates en Small Group</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-green"></i>
							    <span>Functional Training</span>
							  </li>
							  <li style="font-size:13px">
								<span>Conçu en fonction de vos envies</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:35px">
								<span>WODs Personnalisés</span>
							  </li>
							</ul>
							<div class="prix background-green">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">44<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 zoom">
						<div class="bloc-tarif">
							<h2 class="header background-yellow">Premium</h2>
							<img class="center-block" src="images/premium.png"/>
							<h3 style="text-align: center;">Pack Elite</h3>
							<span class="glyphicon glyphicon-plus" style="text-align: center;margin-top:20px"></span>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Coaching Privé</span>
							  </li>
							  <li style="font-size:13px">
							    <span>x1 Coaching privé semaine</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Bilan de cond. physique</span>
							  </li>
							 <li style="font-size:13px">
								<span>Expertise & Analyse</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>P.P.G / P.P.O / P.P.S</span>
							  </li>
							  <li style="font-size:13px">
								<span>Préparation Physique</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:40px">
								<span>Générale/Orientée/Spécifique</span>
							  </li>
							</ul>
							<div class="prix background-yellow">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">89<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div>

				</div>
				
				<h1 class="text-center">Formules &laquo;Sans abonnement&raquo;</h1>
				
				<div class="row">

					<div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0 zoom">
						<!--<img src="images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-purple">Pass</h2>
							<img class="center-block" src="images/img_prix_pass.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-purple"></i>
							    <span>x1 Accès</span>
							  </li>
							</ul>
							<div class="prix background-purple" style="margin-top:37px">
								<h3 class="prix-euros"><span style="line-height:1.2;">10<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">00<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span></h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 zoom">
						<!--<img src="images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-light-blue">Coaching</h2>
							<img class="center-block" src="images/img_prix_coach.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-light-blue"></i>
							    <span>x1 Coaching</span>
							  </li>
							  <li style="font-size:13px">
							    <span>Séance (x1)</span><span>35€</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:35px">
								<span>Séances (x10)</span><span>250€</span>
							  </li>
							</ul>
							<div class="prix background-light-blue">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px">A partir de</span><span style="line-height:1.2;">25<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">00<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">la séance</span></h3>
							</div>
						</div>
					</div>

				</div>
				
				<div class="container-fluid">
					<div class="row" style="margin-top:40px">
						<div class="col-xs-12 text-center">
						  <div class="text-center">
							<img src="images/avantages_prix_l.png">
						    <img src="images/avantages_prix_r.png">
						  </div>
						</div>
					</div>
				</div>
				
				<div class="container-fluid">
					<div class="row" style="margin-top:40px">
						<div class="col-xs-12 text-center">
						  <div class="text-center">
							<img src="images/carte_membre.png">
						    <img src="images/cash.png">
						  </div>
						</div>
					</div>
				</div>
				
				<!--
				<h1 class="text-center">Formule &laquo;Mixte&raquo;</h1>
				
				<div class="row">
				
					<div class="col-md-6 col-sm-6 col-sm-offset-3 zoom">
						<div class="bloc-tarif">
							<h2 class="header background-yellow">Premium</h2>
							<img class="center-block" src="images/premium.png"/>
							<ul class="fa-ul tarif-description" style="text-align: left;font-size:16px">
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Coaching Privé</span>
							  </li>
							  <li style="font-size:13px">
							    <span>x1 Coaching privé semaine</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>Bilan de cond. physique</span>
							  </li>
							 <li style="font-size:13px">
								<span>Expertise & Analyse</span>
							  </li>
							  <li><i class="fa-li fa fa-asterisk li-yellow"></i>
							    <span>P.P.G / P.P.O / P.P.S</span>
							  </li>
							  <li style="font-size:13px">
								<span>Préparation Physique</span>
							  </li>
							  <li style="font-size:13px; margin-bottom:15px">
								<span>Générale/Orientée/Spécifique</span>
							  </li>
							</ul>
							<div class="prix background-yellow">
								<h3 class="prix-euros"><span class="prix-cents" style="vertical-align: baseline;font-size: 25%;margin-right:10px"></span><span style="line-height:1.2;">89<span class="prix-cents" style="vertical-align: super;font-size:40%;">€</span><span class="prix-cents" style="vertical-align: super;font-size: 40%;">90<span class="prix-cents" style="vertical-align: super;font-size: 35%;">TTC</span></span></span><span class="prix-month" style="font-size:25%;">par mois</span></h3>
							</div>
						</div>
					</div>
				</div>
				-->
				<h1 class="text-center"></h1>

				<div class="row" style="margin-top:100px;">

					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 zoom">
						<!--<img src="images/web_Fotolia_80961022_XXL_prix.jpg" alt="Location salle et matériel" class="img-responsive img-full-width">-->
						<div class="bloc-tarif">
							<h2 class="header background-light-purple">Location</h2>
							<div class="prix">
								<p>Location d'équipements et de salles, coaching privé, séminaires<br> sur Devis</p>
							</div>
						</div>
					</div>

				</div>

				<!--<div class="row subtextprix">
					<small>Frais de carte de membre, assurances et frais d’inscription pour toute nouvelle adhésion de 12 mois, s’élevant à 30€ TTC.</small>
				</div>-->

				<div class="text-center" style="margin-top:20px">
					<a href="Planning-Exaequo.pdf" class="btn btn-info" role="button" style="color:rgb(75, 11, 49);background-color: #fff; border-color: rgb(75, 11, 49); "><strong>Télécharger le planning des cours</strong></a>
				</div>

			</div>
			
		</section>

<?php
if ( !strpos(strtolower($_SERVER['HTTP_USER_AGENT']), 'googlebot') )
{
echo <<<EOL
<div id="map" class="wow">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0110411397272!2d-0.6777082999999978!3d44.84170850000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54da027c4fed81%3A0xf0fd85dc9bae57f8!2s19+Rue+Nicolas+Leblanc%2C+33700+M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1442322802792" width="800" height="400" style="border:0; width:100%" allowfullscreen></iframe>
</div>
EOL;
}
?>

		<footer>
			<div class="container text-center">
				<a data-toggle="modal" data-target="#mentions">Mentions légales</a>
			</div>
		</footer>

		<!-- Modal -->
		<div class="modal fade" id="mentions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
					</div>
					<div class="modal-body">
						<h2>Conception</h2>
						<p><strong>Agence Aggelos</strong><br>
						</p>
						
						<h2>Hébergement</h2>
						<p>
							<strong>OVH</strong><br>
							2 rue Kellermann - 59100 Roubaix - France
						</p>
						
						<h2>Éditeur</h2>
						<p><strong>MainEvent</strong><br>				
						19 Rue Nicolas Leblanc, 33700 Mérignac</p>
					
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Animate -->
		<script src="js/wow.min.js"></script>
        <script>
        	new WOW().init();
        </script>
	</body>
</html>